<a ng-href="/#{{ id0 + '' + id1 }}" class="back"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
<h1><span class="small gray">name: </span>{{ trick.name }}</h1>
<p><span class="gray">description: </span>{{ trick.description }}</p>
<div class="center">
    <input type="text" placeholder="name ({{ lang.$value }})" ng-model="i18n.name" ng-disabled="!lang.$value"/><br/>
    <textarea placeholder="description ({{ lang.$value }})" ng-model="i18n.description" ng-disabled="!lang.$value"></textarea><br/>
    <button ng-click="save()" class="green inline" ng-disabed="!lang.$value"><i class="fa fa-save"></i> Save</button>
    <span>{{ status }}</span>
</div>
<div class="box">
    <a class="parent half" ng-href="/details/{{ (id1 == 0 ? id0 - 1 : id0) }}/{{ (id1 == 0 ? prevMax : id1 - 1) }}"
        ng-if="!(id0 == 0 && id1 == 0)"><i class="fa fa-chevron-left"></i> Previous</a>
        <a class="parent half" ng-href="/details/{{ (id1 == thisMax ? id0 + 1 : id0) }}/{{ (id1 == thisMax ? 0 : id1 + 1) }}"
            ng-if="!(id0 == levMax && id1 == thisMax)">Next <i class="fa fa-chevron-right"></i></a>
</div>
<div class="video">
    <iframe class="video" ng-src="{{ trustAsResourceUrl('https://www.youtube-nocookie.com/embed/' + trick.video + '?loop=1&playsinline=1&rel=0') }}"
        frameborder="0" allowfullscreen></iframe>
</div>
