<div class="search">
  <input type="text" ng-model="trickList.search" class="search-query" id="projects_search"
    placeholder="Search (by name, prerequisites...)">
</div>
<div class="error center" ng-if="error.show"><span ng-bind-html="error.text"></span>
  <a class="close" ng-click="error.show = !error.show"><i class="fa fa-times-circle"></i></a>
</div>
<span ng-if="user && lang.$value" class="pr black">Language: {{ lang.$value }}</span>
<a ng-click="hideDone = !hideDone" class="pl black" ng-class="(error.show ? '' : 'emt')"
  ng-show="user && lang.$value"><i ng-class="(hideDone ? 'checked' : '')" class="checkbox"></i> Hide completed
    tricks
</a>
<div class="box loading emt" ng-if="!data.length && user && lang.$value">
  <span>
        <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i><br/>
        Loading tricks
    </span>
</div>
<div class="box loading emt" ng-if="!user">
  <span>You must be signed in to use this page, use the sign in button in the top right corner.</span>
</div>
<div class="box loading emt" ng-if="user && !lang.$value">
  <span>
        <i class="fa fa-spinner fa-spin fa-4x fa-fw"></i><br/>
        Loading data, if this message persists you may not be authorized to use this page, if so go to <a href="https://the-tricktionary.com">the Tricktionary</a><br/>signed in as {{ user.uid }}
    </span>
</div>
<div class="box" ng-repeat="level in data" ng-if="user && lang.$value">
  <h2 class="searchheader">Level {{ level.level }}</h2>
  <!--<div ng-repeat="type in types" class="box">
        <h3 class="searchheader" ng-show="typeifs[level.id0][type]">{{ type }}</h3>-->
  <a class="parent" ng-href="/details/{{ level.id0 }}/{{ trick.id1 }}" ng-repeat="trick in level.subs | orderBy:'id1' | filter:trickList.search"
    id="{{ level.id0 + '' + trick.id1 }}" ng-class="class(level.id0, trick.id1, trick.i18n[lang.$value])"
    ng-hide="hideDone && trick.i18n[lang.$value].name && trick.i18n[lang.$value].description">
    <!-- ng-if="trick.type == type && (typeifs[level.id0][type] ? true : typeifs[level.id0][type] = true)">-->
    {{ trick.name }}
  </a>
  <!--</div>-->
</div>
<div class="center" ng-if="user && lang.$value">
  <div ng-repeat="type in types.en track by $index">{{ type }}:
    <input type="text" ng-model="typeslang[$index]" placeholder="{{ type + ' (' + lang.$value + ')'}}"
    />
  </div>
  <button ng-click="save()" class="green inline" ng-disabed="!lang.$value"><i class="fa fa-save"></i> Save</button>
  <span
    class="gray">{{ status }}</span>
</div>
